
<h3>一覧ページ</h3>
<li><%= link_to "新規投稿へ", new_post_path %></li>
<li><%= link_to 'マイページ', mypage_path %></li>
<%= form_tag posts_path, method: :get, class: 'boards__searchForm' do %>
      <%= select_tag :tag_id,
                     options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                     {
                       prompt: 'タグで絞り込み検索',
                       onchange: 'submit(this.form);'
                     }
      %>
    <% end %>

<div class="posts-container">
  <% @posts.each do |t| %>
    <div class="post">
      <%#= t.user.email %>
      <%= t.day %>
      <%= t.weather %>
      <%= t.condition %>
      <%= t.sleep_time %>
      <%= t.skin_care %>
      <%= t.food %>
      <%= t.happy_event %>
      <%= t.sad_event %>
      
      
      <%= link_to "詳細へ", post_path(t.id) %>
      <% if user_signed_in? && current_user.id == t.user_id %> 
        <%= link_to "編集する", edit_post_path(t.id) %> 
        <%= button_to "削除する", post_path(t.id), method: :delete %>
      <% end %>
    </div>
  <% end %>
</div>